.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card-item{
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}
